<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Radio</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/png" href="../images/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="./dev/css/main.css" />
    </head>
    <body>
      <div id='root'>
      <!--
        <section class="header"></section>
        <section class="content">
           
        </section>
        <section class="footer"></section>-->
      </div>
      <script type="text/javascript" src="./build/js/bundle.min.js"></script>
    </body>
</html>
