    <footer>
      <a class="email" href="mailto:radioavance@hotmail.com" title="RADIOAVANCE@HOTMAIL.COM"><div></div></a>
      <a class="twitter" href="https://twitter.com/radioavance" target="_blank" title="Twitter"><div></div></a>
      <a class="win" href="https://eu3.radioboss.fm:2199/tunein/zepyxjeq8.pls" target="_blank" title="Winamp"><div></div></a>
      <a class="wmp"href="https://eu3.radioboss.fm:2199/tunein/zepyxjeq8.asx" target="_blank" title="Windows Media Player"><div></div></a>
      <a class="itun" href="https://eu3.radioboss.fm:2199/tunein/zepyxjeq8.pls" target="_blank" title="Itunes"><div></div></a>
    </footer>
